# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem

apps/kristinamitrovic/app/api/admin
apps/kristinamitrovic/app/api/auth
apps/kristinamitrovic/app/api/email
apps/kristinamitrovic/app/api/form
apps/kristinamitrovic/app/api/headlines
apps/kristinamitrovic/app/api/newsletter
apps/kristinamitrovic/app/api/paypal
apps/kristinamitrovic/app/api/sokol
apps/kristinamitrovic/app/api/stripe
apps/kristinamitrovic/app/api/superadmin
apps/kristinamitrovic/app/api/webinar
apps/kristinamitrovic/app/api/everwebinar
apps/kristinamitrovic/app/admin
apps/kristinamitrovic/app/dashboard
apps/kristinamitrovic/app/forgot-password
apps/kristinamitrovic/app/login
apps/kristinamitrovic/app/onboarding
apps/kristinamitrovic/app/reset-password
apps/kristinamitrovic/app/success
apps/kristinamitrovic/app/superadmin
apps/kristinamitrovic/app/webinar

apps/vibetoexit/app/api/admin
apps/vibetoexit/app/api/auth
apps/vibetoexit/app/api/email
apps/vibetoexit/app/api/form
apps/vibetoexit/app/api/headlines
apps/vibetoexit/app/api/newsletter
apps/vibetoexit/app/api/paypal
apps/vibetoexit/app/api/sokol
apps/vibetoexit/app/api/stripe
apps/vibetoexit/app/api/superadmin
apps/vibetoexit/app/api/webinar
apps/vibetoexit/app/api/everwebinar
apps/vibetoexit/app/admin
apps/vibetoexit/app/dashboard
apps/vibetoexit/app/forgot-password
apps/vibetoexit/app/login
apps/vibetoexit/app/onboarding
apps/vibetoexit/app/reset-password
apps/vibetoexit/app/success
apps/vibetoexit/app/superadmin
apps/vibetoexit/app/webinar
