body {
    @apply bg-[#000000] text-white antialiased;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #4f2f7d;
}

::-webkit-scrollbar-thumb:hover {
    background: #b469f6;
}

.order-form-highlight {
    border-color: rgb(107, 73, 143);
}